.tblCalc{
    border:1px solid gray;
    margin:0;
    padding:0;
    width:180px;
    text-align:center;
}
.tblCalc input{
    border:1px solid gray;
    width:30px;
    margin:4px;
}
#btnWide{
    width:60px;
}
#input{
    width:180px;
}